@font-face { font-family: 'lyf_mulanbook';
    src: url('lyf_mulan-webfont.woff2') format('woff2'),
         url('lyf_mulan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .foodtopic{
    color: #842424;
    font-size: 144pt;
    background-size: 56%;
    background-repeat: no-repeat;
    font-family:'lyf_mulanbook' ;
    background-position: center;
    text-align: center;
    background-image:url(../image/Food\ Frame.png);
  }
  .Food {
    margin: 0;
    background-color: #FFF3DB;
  }